:root{
  --fancy-black: #141115;
  --champagne-pink:#F2DFD7;
  --thistle-purple:#CAB6E2;
  --powder-blue:#A9DBD9;
  --eggshell-white:#FAF0DB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Header*/
.header {
 padding-top: 100px; 
}
/*Nav Bar*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background:rgb(255, 255, 255);
  background:var(--thistle-purple);
}

.navLinks {
  list-style-type: none;
  color: #f1f1f1;
  background: ;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

ul li {
    margin-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
}

ul{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

li{
  padding: 5px ;
}


ul li {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--eggshell-white);
    cursor: pointer;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background:var(--thistle-purple);
}

.footerLinks {
  list-style-type: none;
  color: var(--eggshell-white);
  background: ;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Links */
a:link,
a:visited{
  color:var(--powder-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--eggshell-white);
}

/*Video Embeds*/
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; 
  height: 0;

}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 75%;
  width: 75%;
  position: absolute;
}
.VideoItself {
  padding-top: 200px;
}
.VideoIntroText {
  padding: ;

}

iframe {
  padding-top: 75px;
  position: fixed;
}
.VideoInputText {
  padding-top: 300px;
}

/*About Page*/
.AboutUsTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: blueviolet;
  font-size: 50px;
  background-color: rgb(155, 230, 235);
}
.AboutText {

}

.BodyText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 75px;

}

h1 {
  color:rgb(24, 4, 22);
 
}

img {
  max-width: 50%;
  max-height: 50%;
}